spring.datasource.url=jdbc:postgresql://localhost:5432/encurtador
spring.datasource.username=encurtador
spring.datasource.password=SUA_SENHA_AQUI

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
server.port=${PORT:8080}

# Defina esta variável no Render. Nunca envie sua senha ao Git.
app.admin-password=SUA_SENHA_ADMIN_AQUI
